MONGO_URL=mongodb://root:root@localhost:27017/
MONGO_DB=uber_trip_dev

PORT=3002

NODE_ENV=development

KAFKA_BROKER_URL=http://localhost:9092
KAFKA_CONSUMER_GROUP=development
KAFKA_CLIENT_ID=dispatch-consumer

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_URL=https://maps.googleapis.com/maps/api/directions/json