PORT=3002

NODE_ENV=development

KAFKA_BROKER_URL=localhost:9092
KAFKA_CONSUMER_GROUP=development
KAFKA_CLIENT_ID=dispatch-consumer

DB_HOST=localhost
DB_PORT=5432
DB_USER=uber_user
DB_PASSWORD=uber_password
DB_NAME=uber_trip_db
DB_SYNC=true
DB_LOGGING=false

GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
GOOGLE_MAPS_API_URL=https://maps.googleapis.com/maps/api/directions/json

MONGO_URL=mongodb://root:root@localhost:27017/
MONGO_DB=uber_trip_dev